<!-- 
  layout - в виде паршела.
 -->
<%= render partial: "link_area", layout: "graybar" %>
<%= render partial: "form", locals: {zone: @zone} %>
<!-- сокращённый вариант, опускается ключ locals -->
<%= render "form", zone: @zone %>

<!-- 
  Рендеринг коллекций
 -->
<%= render partial: "product", collection: @products %>
<%= render partial: "product", collection: @products, as: :item %>
<%= render partial: "product", collection: @products, as: :item, locals: {title: "Products Page"} %>

<!-- 
  Разделяющие шаблоны
 -->
<%= render partial: @products, spacer_template: "product_ruler" %>

<!-- 
  Рендеринг контента обёрнутого layout-ом - в виде паршела
 -->
<%= render layout: 'account_wrapper' do %>
  <p>Find me in app/views/account/index.html.erb</p>
<% end %>

<!-- 
  Пример паршела
 -->
<p>Find me in app/views/account/_account_wrapper.html.erb</p>
<div>
  <%= yield %>
</div>

<!-- 
  При рендере экземпляра передача параметров не требует "locals"
 -->
<%= render @user, is_foldered_view: @folder.present? %>

<!--
  А можно из модели рендерить паршелы, но если Очень хочется
-->
<%
class ImportServicePresenter
  include ActiveModel::Serializers::JSON

  attr_reader :model

  def initialize(model)
    @model = model
  end

  def attributes
    {
      'status' => nil,
    }
  end

  def status
    render(__method__)
  end

  private

  def render(method)
    Admin::ApplicationController.render(
      locals: { import_service: model },
      template: "admin/import_services/_#{method}",
      layout: false
    )
  end
end
%>
